# VSCODE configuration files
.vscode/

# Eclipse
.classpath
.project
.settings/

# Compiled Files (Java and Python)
*.class
bin/
build/
/bin1/
java/build/**
**/__pycache__
*.pyc

# python env
env/

# obsidian note configuration files 
**/.obsidian/

# environment variables
*.env
